body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

.logospace {
	width: 100%;
	padding: 30px;
}

.logo {
	width: 800px;
}

@media (max-width: 1000px) {
	.logo {
		width: 80%;
	}
}

.realred {
	background-color: #BF311A;
}
